
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url(./img/bg-art.webp);
  background-color: #00043E;
  /* background-position: top right; */
  background-size: cover;
  position: relative;
  /* background-attachment: fixed; */
}

.rotateY180{
  transform: rotateY(180deg);
}

#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -2.5rem;
  left: 0;
  z-index: -999;
}

#perso1 {
  width: 100%;
  max-width: 400px;
  position:sticky;
  top: 0;
  height: fit-content;

}


.glassmorphism{
  background-image: linear-gradient(1turn, #0d0b4b 0, rgba(39, 39, 39, 0) 70%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px) saturate(100%);
  -webkit-backdrop-filter: blur(15.8px);
  box-shadow: inset 0px 3px 0 0px rgba(255, 255, 255, 0.4);
}